.about {
  .profile {
    padding: 80px 0;

    .inner {
      display: flex;
      margin: auto;
      padding: 20px;
      justify-content: space-around;
      align-items: center;

      >div {
        max-width: 50%;
      }

      .copy {
        p {
          font-size: 1.5em;
        }
      }

      img {
        width: 250px;
        border-radius: 100%;
      }
    }
  }

  .skills {
    .inner {
      display: grid;
      margin: auto;
      flex-direction: row;
      width: 100%;
      grid-template-columns: 1fr 1fr;



      >div {
        padding: 20px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        position: relative;
            min-height: 640px;

        img {
          object-fit: cover;
          text-align: center;
          margin: 0 auto;
          min-height: inherit;
        }

      }

      .image {
        padding: 0;
      }
    }
  }
  li{
  padding: 15px;
}
}

 .skills:nth-child(odd) {
    .inner {
      .copy {
        background-color:$light-grey;
        color: $black;
      }
    }
  }
   .skills:nth-child(even) {
    .inner {
      .copy {
        background-color:$bg-white;
        color:$black;
      }
    }
  }



.progression {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
      padding: 15px 5px;

  &__title {
        width: 150px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

svg{
  height: 32px;
  width: 32px;
  margin-right: 16px;
}
  }

  &__bar {
    width: 100%;
    height: 10px;
    background-color: $dark-grey;
    border-radius: 3em;

    &__status {
      height: inherit;
      background-color: $green;
      border-radius: inherit;
    }
  }
}






