header {
  background-color: $bg-white;
  width: 100%;
  position: fixed;
  z-index: 100;
  transition-duration: .125s;
  will-change: top;
  transition: background-color 0.3s ease-in-out 0s;

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    max-width: 560px;
    margin: 0 auto;

    a {
      // font-size: 32px;
      display: flex;
      flex-direction: column;
      text-align: center;
      font-weight: bold;
      color: $black;
      position: relative;


      span {
        font-size: 16px;
        font-weight: bold;
        color: inherit;
        text-transform: uppercase;
      }

      svg {
        width: 48px;
        fill: $white;
      }
    }

    a:not(.logo):after {
      position: absolute;
      left: 0;
      bottom: -5px;
      display: inline-block;
      z-index: 1;
      width: 0;
      height: 3px;
      transition-duration: .125s;
      background-color: $black;
      content: "";
      width: 0;
      right: 0;
    }

    a:not(.logo):hover:after {
      width: 100%;
    }
  }
}
