header {
  background-color: $bg-white;
  width: 100%;
  position: fixed;
  z-index: 100;
  transition-duration: 0.125s;
  will-change: top;
  transition: background-color 0.3s ease-in-out 0s;

  nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    max-width: 380px;
    margin: 0 auto;

    @media screen and (max-width: $screen-mobile-small) {
      padding: 15px;
    }

    a {
      display: inline-block;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-weight: bold;
      color: $black;
      position: relative;
      flex: 1 1;
      font-size: 16px;
      font-weight: bold;
      color: inherit;
      text-transform: uppercase;
    }

    svg {
      width: 48px;
      fill: $white;

      // @media screen and (max-width: $screen-mobile-small) {
      //   width: 48px;
      // }
    }

    a:not(.logo):after {
      position: absolute;
      left: 0;
      bottom: -5px;
      display: inline-block;
      z-index: 1;
      width: 0;
      height: 3px;
      transition-duration: 0.125s;
      background-color: $black;
      content: "";
      right: 0;
      margin: 0 auto;
    }

    a:not(.logo):hover:after,
    a.active:after {
      width: 40px;
    }
  }
}

.translatebuttons {
  position: fixed;
  top: 28px;
  z-index: 101;
  left: 15px;

  display: flex;
  margin: 0;
  padding: 2px;
  justify-content: space-between;
  width: 60px;

  button {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    color: inherit;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
  }

  button:after {
    position: absolute;
    left: 0;
    bottom: -5px;
    display: inline-block;
    z-index: 1;
    width: 0;
    height: 3px;
    transition-duration: 0.125s;
    background-color: $black;
    content: "";
    right: 0;
    margin: 0 auto;
  }

  button:hover:after,
  button.active:after {
    width: 16px;
  }
}
