.darkmodebutton {
    position: fixed;
    width: 40PX;
    height: 20px;
    top: 28px;
    z-index: 9999;
    right: 15px;
    cursor: pointer;
    border: 2px solid $bg-black;
    background: $bg-black;
    display: flex;
    margin: 0;
    padding: 2px;

    span {
        width: 12px;
        height: 12px;
        background: $bg-white;
        position: relative;
        left: 0;
        transition: 0.3s ease-in-out 0s;
    }
}

body {
    transition: background-color 0.3s ease-in-out 0s;
}

.dark {
    background-color: $bg-black;
    color: $white;

    a {
        color: $white;
    }

    svg {
        fill: $white;

    }

    .darkmodebutton {

        border: 2px solid $white;
        background: $white;

        span {
            background-color: $bg-black;
            left: 19px;
        }
    }

    .portfolio-list li:hover .copy {
        background-color: $dark-grey;
        color: $white;
    }

    .skills:nth-child(odd) {
        .inner {
            .copy {
                background-color: $bg-black;
                color: $white;
            }
        }
    }

    .skills:nth-child(even) {
        .inner {
            .copy {
                background-color: $dark-grey;
                color: $white;
            }
        }
    }

    .work-list li .copy {
        background-color: $dark-grey;
        color: $white;

    }

    .work-list li:hover .copy {
        background-color: $black;
    }

    .primary-button {
        svg {
            fill: none;
            stroke: $white;
        }
    }

    .copy-section .copy__inner .image {
        background-color: $dark-grey;
    }

    .icon {
        &__linkedin {
            path:last-child {
                fill: $bg-black;
            }

            path {
                fill: $white;
            }
        }

        &__github,
        &__logo {
            path {
                fill: $white;
            }
        }
    }

    footer {
        background-color: $bg-black;
    }

    header {
        background-color: $bg-black;

        a {
            color: $white;
        }
    }
}