@media screen and (max-width: $screen-monitor) {
}

@media screen and (max-width: $screen-laptop) {
}

@media screen and (max-width: $screen-laptop-small) {
  .copy-section .copy__inner.inner {
    display: flex;
    flex-direction: column;

    > div {
      width: 100%;
    }
  }

  .about .skills .inner {
    grid-template-columns: 1fr;
    > div {
      min-height: 500px;
    }
  }
}

@media screen and (max-width: $screen-tablet) {
  .about {
    .profile {
      .inner {
        display: flex;
        margin: auto;
        padding: 20px;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        > div {
          max-width: 100%;
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: $screen-mobile) {
  header {
    padding-top: 45px;
  }
  .work-list li .copy {
    left: 0;
    right: 0;
    margin: 16px;
    transform: translateX(0%);
    max-width: 370px;
    min-width: unset;
  }
}

@media screen and (max-width: $screen-mobile-small) {
  .progression {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    grid-gap: 20px;
    padding: 15px 5px;
    width: 100%;

    .progression__title {
      width: auto;
    }
  }
}

@media screen and (max-width: $screen-mobile-smaller) {
}
