// Responsive breakpoints
$screen-monitor: 1600px;
$screen-desktop: 1400px;
$screen-laptop: 1200px;
$screen-laptop-small: 1024px;
$screen-tablet: 768px;
$screen-mobile: 580px;
$screen-mobile-small: 420px;
$screen-mobile-smaller: 350px;




// colors
$bg-black: #231F20;
$dark-grey: #0e0e0e;
$grey: #8D99AE;
$light-grey: #EDF2F4;
$dark-red: #7F1028;
$light-red: #AD646D;
$white: #FFFFFF;
$black: #000;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FBFBFB;
}


.inner {
  max-width: 1280px;
}

.primary-button {
  padding: 20px;
  background-color: $dark-red;
  color: $white;
  border-bottom: 5px solid $light-red
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

svg{
  width: 50px;
  fill: #fff;
}