// Responsive breakpoints
$screen-monitor: 1600px;
$screen-desktop: 1400px;
$screen-laptop: 1200px;
$screen-laptop-small: 1024px;
$screen-tablet: 768px;
$screen-mobile: 580px;
$screen-mobile-small: 420px;
$screen-mobile-smaller: 350px;

// colors
$black: #000;

$green: #00d66c;
$white: #FFFFFF;

//bg colors
$bg-black:#0e0e0e;
$dark-grey: #1a1a1a;
$bg-white: #FBFBFB;
$grey: #d1d1d1;
$light-grey: #eeeeee;

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: $bg-white;
}

.inner {
    max-width: 1280px;
}

.primary-button {
    margin-bottom: 20px;
    display: block;

    svg {
        width: 25px;
        height: 25px;
        top: 7px;
        fill: #fff;
        position: relative;
        margin-right: 3px;
        transition: 0.3s ease 0s;
        left:0;
    }
}
.primary-button:hover {

        svg {
            left: 8px;
        }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
    display: block;
}

main{
    position: relative;
}