// Responsive breakpoints
$screen-monitor: 1600px;
$screen-desktop: 1400px;
$screen-laptop: 1200px;
$screen-laptop-small: 1024px;
$screen-tablet: 768px;
$screen-mobile: 580px;
$screen-mobile-small: 420px;
$screen-mobile-smaller: 350px;

// colors
$black: #000;

$green: #00d66c;
$white: #FFFFFF;

//bg colors
$bg-black: #231F20;
$grey: #d1d1d1;
$dark-grey: #0e0e0e;
$light-grey: #cecece;

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FBFBFB;
}

.inner {
    max-width: 1280px;
}

.primary-button {
    margin-bottom: 20px;
    display: block;

    svg {
        width: 25px;
        height: 25px;
        top: 7px;
        fill: #fff;
        position: relative;
        margin-right: 3px;
        transition: 0.3s ease 0s;
        left:0;
    }
}
.primary-button:hover {

        svg {
            left: 8px;
        }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
    display: block;
}




.dark{
    background-color: #000;
    color:#fff;
    a{
        color: #fff;
    }
    svg{
        fill:#fff;
        
    }
}
body{
    transition: 0.1s ease-in-out 0s;
}

.scrolltop {
    position: fixed;
    width: 60px;
    height: 30px;
    top: 25px;
    z-index: 9999;
    right: 30px;
    cursor: pointer;
    border: 2px solid black;
    background: #fff;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    

    span {
    width: 1.5em;
    height: 1.5em;
    background-color: black;
    border-radius: 100%;
    position: relative;
    left:0;
    transition: 0.10s ease-in-out 0s;
}
    

    }



.dark .scrolltop {

    border:2px solid #fff;
    background: black;
   


    span {
         background-color: #fff;
         left:25px;
    }
}